* {
  background: #000000;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-image: url(/assets/img/bg-header.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70rem;
}
header h1 {
  font-size: 3.6rem;
  font-weight: 500;
  text-align: center;
  background-color: transparent;
}

p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.desc-section img {
  width: 30%;
  display: inline-block;
}

.desc-section .text {
  width: 37%;
  text-align: left;
}

.desc-section img,
.text {
  display: inline-block;
  vertical-align: middle;
}

.desc-section {
  text-align: center;
  margin-top: 70px;
}

.container-image article img {
  width: 300px;
  height: 200px;
}

.container-image {
  text-align: center;
  padding-bottom: 50px;
}

.position-image {
  display: inline-block;
  margin-right: auto;
  text-align: center;
}

.margen-image {
  margin: 0 30px;
}

.icons-section {
  height: 348px;
  background: #1e1a13;
  margin-bottom: 50px;
}

.icons-section h1 {
  font-size: 2.5rem;
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
  background: transparent;
  padding-top: 40px;
}

.icons-section h3 {
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
  background-color: transparent;
}
.icons-section i {
  background: transparent;
  margin-bottom: 20px;
}
.icons-section article {
  background-color: transparent;
}
.container-image-iguana {
  background-color: #1e1a13;
}
.margen-image-iguana {
  margin: 0 200px;
  padding-top: 70px;
}
footer p {
  background: #1e1a13;
  padding: 20px;
  text-align: center;
  margin-bottom: 0;
}
footer a {
  background: transparent;
  text-decoration: none;
}
